html,body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 0;
    width: 450px;
    min-height: 180px;
}

h1 {
    font-family: "Menlo", monospace;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}

a:link {
    color:deeppink;
}
a:visited{
    color: green;
}
img {
    float: initial;
    vertical-align: middle;
}
.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #44d9e6
}
.modal-content {
    padding: 0px 22px;
}
.modal-icons {
    padding: 10px 0;
    height: 50px;
    width: 100%;
}
.logo {
    padding: 16px;
}
.logo-icon {
    margin-right: 12px;
}
.version {
    color: #444;
    font-size: 10px;
}
.flex-container {
    padding: 0px;
    display: flex;
    justify-content:space-between
}
.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.flex:hover {
    opacity: 0.4;
}
.flex .fa {
    font-size: 30px;
    color: #dad;
}